@use 'variables' as v;

.layoutFlex {
    display: flex;
    flex-direction: column;
    gap: 300px;
}

@media only screen and (max-width: 800px) {
    .layoutFlex {
        flex-direction: column;
        gap: 0;
    }
}