@use 'variables' as v;

.ContainerGrid {
    height: 100vh;
    margin: -32px 200px v.$margin 200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 32px;
    overflow: hidden;
}

.titleContainer {
    display: flex;
    justify-content: left;
    margin: v.$margin 0 auto 0;
    grid-column: 1 /4;
    grid-row: 1 / 2;
    height: 200px;
    background-color: v.$background-color;
    font-family: Stretch;
    font-size: 32px;
    text-transform: uppercase;
    h1 {
        margin: 0;
        color: v.$accent-color;
        span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: v.$accent-color;
  transition: all 0.5s ease;
        }
    }
}

.imageContainer {
    grid-column: 1 /4;
    grid-row: 1 / 2;
    height: calc(100% - 200px);
    margin: auto 0 0 0;
    position: relative;

}

.imageContainerView::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  transition: .5s ease;
  pointer-events: none;
  z-index: 100;
}
.textContainer {
    overflow-y: scroll;
    grid-column: 4 /6;
    grid-row: 1 / 2;
    margin: 200px 0 0 0;
    line-height: 1.4;
    font-size: 20px;
    h2 {
        font-family: Stretch;
        color: v.$text-color;
        text-transform: uppercase;
        font-size: 36px;
        line-height: 1;
        margin: 0 0 0 0;
    }

        .textImageContainer {
            position: relative;
            width: 100%;
        }


}
.cursor {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid v.$text-color;
    opacity: .5;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    transform: translate(-50%, -50%);
    z-index: 11;
    pointer-events: none;
    transition-duration: 300ms;
}

.cursorView {
      width: 80px;
    height: 80px;
    transform: scale(4);
    transform: translate(-50%, -50%);
    transition-duration: 300ms;
    opacity: 1;
   
    border: 1px solid v.$text-color;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.cursorView::after {
    content: "Back";
    position: absolute;
    font-size: 24px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
 

}
.iframe {
    width: 100%;
    height: 50%;
    border: none;
}

@media only screen and (min-device-width: 900px) and (max-device-width: 1600px) {
  .titleContainer {

    h1 {
 font-size: 52px;
    }
} 
.textContainer {

    h2 {

        font-size: 32px;

    }

        p {
            font-size: 16px;
        }


}
}

@media only screen and (max-width: 800px) {
.ContainerGrid {
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: visible;
    width: 100%;

}
.titleContainer {
    font-size: 20px;
    margin: auto 10px;
}
.titleContainer::after {
    content: "Go Back";
    display: block;
    position: absolute;
    top: 50%;
    width: auto;
    height: 1px;
    background-color: v.$text-color;
    margin: 10px 0;
    pointer-events: none;
}

.imageContainer {
    height: 200px;
    margin: 0;
    width: 100%;
}
.textContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    opacity: 1;
width: 100%;
height: auto;
    margin:  -20px auto auto auto;
    line-height: 1.4;
    font-size: 20px;
    h2 {
        font-family: Stretch;
        color: v.$text-color;
        text-transform: uppercase;
        font-size: 36px;
        line-height: 1;
        margin: 0 0 0 0;
    }

        .textImageContainer {
            position: relative;
            width: 100%;
        }
    p 
    {
    margin: 10px 10px;
    }
    iframe {
        height: 240px;
    }
 
}
       .cursor {
        border: none;
    }
    .cursorView {
        display: none;
    }
}